<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>vDiplomacy Big Big Map Viewer</title>

    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue@3.0.1/dist/vue.global.js"></script>

  </head>
  <body>
    <div id="app">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h1>vDiplomacy Big Big Map Viewer</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <div class="row mt-3">
        <div class="col d-flex justify-content-center">
          <form @submit.stop.prevent @submit="changeGameId">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <div class="form-check mb-2">
                  <input type="text" style="width: 6em" class="form-control text-center" id="gameIdInput" placeholder="Game ID" v-model="gameIdTemp">
                </div>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" :disabled="!gameIdTemp">{{ gameId ? 'Change game' : 'View game' }}</button>
                <a v-if="gameId" class="ml-2 btn btn-secondary mb-2" :href="'https://vdiplomacy.com/board.php?gameID=' + gameIdTemp">Go to game</a>
              </div>
            </div>
          </form>
        </div><!-- /.col d-flex justify-content-center -->
      </div><!-- /.row -->
    </div><!-- /.container -->
    <div v-if="gameId">
      <div class="container sticky-top">
        <div class="row mt-3">
          <div class="col text-center d-flex justify-content-center">
            <div class="btn-toolbar mb-3" role="toolbar">
              <div class="btn-group mr-2" role="group">
                <button @click="turn = -1" type="button" class="btn btn-secondary" :disabled="turn == -1"><< first</button>
                <button @click="--turn" type="button" class="btn btn-secondary" :disabled="turn == -1">< previous</button>
              </div>
              <div class="input-group">
                <input type="text" class="form-control text-center" :style="'width: ' + (this.turn.toString().length + 1.5) + 'em'" v-model="turn">
              </div>
            <div class="btn-group ml-2" role="group">
              <button @click="++turn" type="button" class="btn btn-secondary">> next</button>
              <button @click="turn = maxTurn" type="button" class="btn btn-secondary">>> last loaded ({{ maxTurn }})</button>
            </div>
            </div>
          </div><!-- /.col text-center -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <div class="container-fluid">
        <div class="row" v-for="(turnUrl, key) in turnUrls">
          <div class="col text-center" v-show="turn == key">
            <img class="img-fluid" style="user-select: none"
              :src="turnUrl" :key="turnUrl">
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div>
    <div class="container">
      <div class="row mt-5">
        <div class="col d-flex justify-content-center">
          <a class="text-secondary"
            href="https://github.com/jonasjancarik/vdiplomacy-bigmap-viewer">https://github.com/jonasjancarik/vdiplomacy-bigmap-viewer</a>
        </div><!-- /.col d-flex justify-content-center -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    <script>
      const app = Vue.createApp({
          el: '#app',
          data() {
            return {
              gameIdTemp: null,
              gameId: null,
              turn: -1,
              maxTurn: -1,
              turnUrls: {}
            }
          },
          watch: {
            turn(val) {
              val = parseInt(val)
              this.maxTurn = val > this.maxTurn ? val : this.maxTurn
              this.preloadMapImages(val)

              // change URL in address bar
              this.updateAddressBarUrl()
              
              // update page title
              this.changePageTitle()
            },
          },
          created() {
            // parse URL parameters
            let urlParams = new URLSearchParams(window.location.search)
            this.gameId = urlParams.has('gameId') ? urlParams.get('gameId') : this.gameId
            this.gameIdTemp = this.gameId
            this.turn = urlParams.has('turn') ? urlParams.get('turn') : this.turn

            if (this.gameId) {
              // change URL in address bar
              this.updateAddressBarUrl()

              // update page title
              this.changePageTitle()
            }

            // preload map images
            this.preloadMapImages(this.turn)
          },
          methods: {
            changeGameId() {
              window.location.href = this.composeAppHref()
            },
            composeMapUrl(turnId) {
              return 'https://vdiplomacy.com/map.php?gameID=' + this.gameId + '&turn=' + turnId + '&mapType=large'
            },
            composeAppHref() {
              if (window.location.href.includes('index.html')) {
                return "./index.html?gameId=" + this.gameIdTemp + '&turn=' + this.turn
              } else {
                return "./?gameId=" + this.gameIdTemp + '&turn=' + this.turn
              }
            },
            changePageTitle() {
              const titleEl = document.querySelector('head title');
              titleEl.textContent = 'vDiplomacy Big Big Map Viewer (' + this.gameId + '/' + this.turn + ')';
            },
            updateAddressBarUrl() {
              window.history.replaceState({}, 'vDiplomacy Big Big Map Viewer', this.composeAppHref());
            },
            handleKeydown(e) {
              switch (e.keyCode) {
                case 37:
                  if (this.turn > -1) {
                    --this.turn
                  }
                  break
                case 39:
                  ++this.turn
                  break;
              }
            },
            preloadMapImages(currentTurn) {
              const vm = this
              currentTurn = parseInt(currentTurn)
              function addMapUrl(turn) { vm.turnUrls[turn] = vm.composeMapUrl(turn); console.log(`turn ${turn} preloaded`) }
              // if the current turn isn't loaded yet or the ones around
              if (!this.turnUrls[currentTurn] || !this.turnUrls[currentTurn + 3] || !this.turnUrls[currentTurn - 3]) {
                // load current turn and preload turns around this one
                addMapUrl(currentTurn)
                for (let index = currentTurn - 3; index <= currentTurn + 3; index++) {
                  if (!this.turnUrls[index] && index > -2) {
                    setTimeout(function () { addMapUrl(index) }, (index + 3 - currentTurn) * 100)
                  }
                }
              }
            }
          },
        beforeMount() {
          window.addEventListener('keydown', this.handleKeydown, null);
        },
        beforeUnmount() {
          window.removeEventListener('keydown', this.handleKeydown);
        }
        });

        app.mount('#app')
    </script>

  </body>
</html>



